@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

body {
    font-family: 'Comfortaa', cursive;
}

.allergi {
    text-transform: uppercase;
    font-weight: bold;
    color: #FF0000;
}

#headtxt{
    position: absolute;
    margin-top:-20%;
    color: lightblue;
    margin-left: 0.5em;
    font-weight: bold;
    font-size:2.6em;
}
#headtxt2 {
    position: absolute;
    color: lightblue;
    margin-left: 1.5em;
    margin-top: -14%;
    font-size:1.5em;
}
#headimg{
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 2em 2em 2em 2em;
}
#flyingburger{
    position: absolute;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    top: 11.5em;
    left: 30em;
}

#burgersection{
    background-color: #FAEBD7;
    border-radius: 2em 2em 2em 2em;
}
.burgerimg{
    border-radius: 2em 2em 2em 2em;
    width:17em;
    height:17em;
}
#submitsection{
    clear:both;
    background-color:lightblue;
    color:white;
    border:0.5em Dotted #FAEBD7;
    border-radius: 2em 2em 2em 2em;
}

#formcustomer{
    padding-left:1.5em;
}

button:hover {
    background-color:green;
    cursor: grab;
}

#button{
    margin-top:1.5em;
    margin-left:1.5em;
    margin-bottom:1.5em;
}
.wrapper {
    display: grid;
    grid-gap: 3em;
}
.burgerhead{
    grid-column: 1 / span 3;
    grid-row:1;
    margin-left: 3em;
}
.alright {
    grid-column: 1;
    grid-row:2;
    margin: 0em 4em 0em 3em;

}
.juicy {
    grid-column:2;
    grid-row:2;
    margin: 0em 4em 0em 3em;

}
.VIP {
    grid-column: 3;
    grid-row:2;
    margin: 0em 4em 0em 4em;
}






